<div>
  <label>Search by Title</label>
  <input [(ngModel)]="title" />
  <button (click)="searchPostByTitle()">Search</button>
</div>
<div *ngIf="searchPerformed && noPostFound">
  <p>No post found!!</p>
</div>

<div *ngFor="let post of postData">
  <!-- <div>image: {{ post.img }}</div> -->
  <h3>{{ post.title }}</h3>
  <p>{{ post.content }}</p>
  <p>{{ post.postedBy }}</p>
  <div>{{ post.date }}</div>
  <div>
    <button>{{ post.likeCount }} likes</button>
    <button>{{ post.viewCount }} views</button>
  </div>
  <button routerLink="/post-view-only/{{ post.id }}">View Post</button>
  <br />
  <br />
</div>
