<div class="container">
  <button routerLink="/posts" class="btn btn-view">⬅️ View All Posts</button>
  <div class="form-group">
    <div class="form-flex">
      <input
        [(ngModel)]="title"
        class="form-control w-75"
        placeholder="Search post"
      />
      <button class="search" (click)="searchPostByTitle()">🔍 Search</button>
    </div>
  </div>
  <div class="post">
    <div *ngIf="searchPerformed && noPostsFound">
      <p><em>No post found!!</em></p>
    </div>

    <div *ngFor="let post of postData">
      <!-- <div>image: {{ post.img }}</div> -->
      <div class="card">
        <h3 class="card-header">{{ post.title }}</h3>
        <div class="card-body">
          <p class="card-text">
            {{
              post.content.length > 600
                ? post.content.substr(0, 600) + "..."
                : post.content
            }}
          </p>
          <p>
            <em class="capitalize">
              - Posted by {{ post.postedBy }} ({{
                post.date | date: "MMMM d, y"
              }})</em
            >
          </p>
          <div class="flex flex-btn">
            <button class="btn btn-grey btn-flex">
              <span> {{ post.likeCount }} likes&nbsp;</span>
              <img src="/icons/like.png" alt="Icon" class="icon" />
            </button>
            <button class="btn btn-grey">
              {{ post.viewCount }} views&nbsp;<img
                src="/icons/view.png"
                alt="Icon"
                class="icon"
              />
            </button>
          </div>
          <br />
          <button
            routerLink="/individual-post/{{ post.id }}"
            class="btn btn-salmon"
          >
            View Post
          </button>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
