<div class="container">
  <div class="form">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div class="form-group">
        <label for="fullName">Fullname </label>
        <input
          type="text"
          id="fullName"
          name="fullName"
          placeholder="Fullname"
          formControlName="fullName"
          class="form-control"
        />
        <div
          class="text-danger"
          *ngIf="
            signUpForm.get('fullName').errors?.['required'] &&
            signUpForm.get('fullName')?.touched
          "
        >
          Please provide full name
        </div>
      </div>
      <div class="form-group">
        <label for="userName">Username </label>
        <input
          type="text"
          id="userName"
          name="userName"
          placeholder="Username"
          formControlName="userName"
          class="form-control"
        />
        <div
          class="text-danger"
          *ngIf="
            signUpForm.get('userName').errors?.['required'] &&
            signUpForm.get('userName')?.touched
          "
        >
          Please provide username
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password </label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          formControlName="password"
          class="form-control"
        />
        <div
          class="text-danger"
          *ngIf="
            signUpForm.get('password').errors?.['required'] &&
            signUpForm.get('password')?.touched
          "
        >
          Please provide password
        </div>
      </div>
      <div class="flex">
        <button class="btn btn-view" routerLink="/login">
          <em>Already have an account?</em></button
        ><button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
