<div class="container">
  <button class="btn btn-view" routerLink="/login">
    ⬅ Go back to Login Page
  </button>
  <div class="form">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div class="form-group">
        <label for="fullName">Fullname </label>
        <input
          type="text"
          id="fullName"
          name="fullName"
          placeholder="Fullname"
          formControlName="fullName"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="userName">Username </label>
        <input
          type="text"
          id="userName"
          name="userName"
          placeholder="Username"
          formControlName="userName"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="password">Password </label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          formControlName="password"
          class="form-control"
        />
      </div>
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>
