.flex {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.flex-btn {
  justify-self: flex-start;
}

.btn-grey {
  background-color: rgb(242, 239, 239);
}

.btn-salmon {
  background-color: darksalmon;
}

.btn-green {
  background-color: mediumseagreen;
  color: whitesmoke;
}

.btn-flex {
  display: flex;
}

.container {
  margin-top: 20px;
}
