<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="userName">Username</label>
      <input
        type="text"
        id="userName"
        name="userName"
        formControlName="userName"
        class="form-control"
        placeholder="Username"
      />
      <div
        class="text-danger"
        *ngIf="
          loginForm.get('userName').errors?.['required'] &&
          loginForm.get('userName')?.touched
        "
      >
        Please provide username
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        class="form-control"
        placeholder="Password"
      />
      <div
        class="text-danger"
        *ngIf="
          loginForm.get('password').errors?.['required'] &&
          loginForm.get('password')?.touched
        "
      >
        Please provide password
      </div>
    </div>

    <button type="submit" class="btn btn-success">Login</button>

    <button
      class="btn btn-primary"
      style="margin-left: 20px"
      routerLink="/signup"
    >
      Sign Up
    </button>
  </form>
</div>
