<div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="userName">Username: </label>
    <input
      type="text"
      id="userName"
      name="userName"
      formControlName="userName"
    />
    <br />
    <br />
    <label for="password">Password: </label>
    <input
      type="password"
      id="password"
      name="password"
      formControlName="password"
    />
    <br />
    <br />
    <button type="submit">Login</button>
  </form>
</div>
<br /><br />

<button routerLink="/signup">Sign Up</button>
