<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="userName">Username</label>
      <input
        type="text"
        id="userName"
        name="userName"
        formControlName="userName"
        class="form-control"
        placeholder="Username"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
        class="form-control"
        placeholder="Password"
      />
    </div>

    <br />
    <br />
    <button type="submit" class="btn btn-success">Login</button>

    <button
      class="btn btn-primary"
      style="margin-left: 20px"
      routerLink="/signup"
    >
      Sign Up
    </button>
  </form>
</div>
