<button routerLink="/posts">View all posts</button> <br />
<br />
<div>
  <button>Update Post</button>
  <button (click)="deletePost(postId)">Delete post</button>
</div>

<div *ngIf="postData">
  <div>image: {{ postData.img }}</div>
  <h3>{{ postData.title }}</h3>
  <p>{{ postData.content }}</p>
  <p>{{ postData.postedBy }}</p>
  <div>{{ postData.date }}</div>
  <div>
    <button (click)="likePost()">{{ postData.likeCount }} likes</button>
    <button>{{ postData.viewCount }} views</button>
  </div>

  <br />
  <br />
</div>

<div>
  <h4>Comments</h4>
  <div *ngFor="let comment of commentList">
    <p>{{ comment.comment }}</p>
    <p>{{ comment.postedBy }}</p>
    <button>Delete</button>
  </div>
  <br />
  <br />
  <button>Delete</button>
  <div>
    <form [formGroup]="commentsForm">
      <label>Comment</label>
      <textarea formControlName="comment"></textarea>
      <br />
      <label>Posted By</label>
      <input formControlName="postedBy" />
      <br />
      <button (click)="postComment()">Post</button>
    </form>
  </div>
</div>
